$bg_box : rgba(255,255,255,0.6);
$radius_box: 10px;
.consider{
    position: absolute;
    height: 100%;
    width: 100%;
    .form{
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%);
        width: 40%;
        padding: 20px;
        border-radius: $radius_box;
        background-color: $bg_box !important;
    }
    .content{
        position: absolute;
        right: 0;
        top: 55px;
        width: calc( 100% - 225px);
        height: calc( 100% - 55px );
        overflow: hidden;
    }
}
